{% extends 'base.html' %}

{% block content %}

<div class="section">
    <h2>教师信息及项目登记</h2>
    <form method="POST" action="{{ url_for('add_project') }}">
        <fieldset>
            <legend>教师信息</legend>
            <label for="teacher_name">教师姓名:</label>
            <input type="text" id="teacher_name" name="teacher_name" required><br><br>

            <label for="teacher_id">教师id:</label>
            <input type="text" id="teacher_id" name="teacher_id" required><br><br>

            <label for="teacher_sex">性别:</label>
            <select id="teacher_sex" name="teacher_sex" required>
                <option value="1">男</option>
                <option value="2">女</option>
            </select><br><br>

            <label for="teacher_jobTitle">职称:</label>
            <select id="teacher_jobTitle" name="teacher_jobTitle" required>
                <option value="1">博士后</option>
                <option value="2">助教</option>
                <option value="3">讲师</option>
                <option value="4">副教授</option>
                <option value="5">特任教授</option>
                <option value="6">教授</option>
                <option value="7">助理研究员</option>
                <option value="8">特任副研究员</option>
                <option value="9">副研究员</option>
                <option value="10">特任研究员</option>
                <option value="11">研究员</option>
            </select><br><br>
        </fieldset>
        <br>
        <fieldset>
            <legend>项目登记</legend>
            <label for="project_name">项目名称：</label>
            <input type="text" id="project_name" name="project_name" required><br><br>

            <label for="project_id">项目号：</label>
            <input type="text" id="project_id" name="project_id" required><br><br>

            <label for="project_source">项目来源：</label>
            <input type="text" id="project_source" name="project_source" required><br><br>

            <label for="project_type">项目类型：</label>
            <select id="project_type" name="project_type" required>
                <option value="1">国家级项目</option>
                <option value="2">省部级项目</option>
                <option value="3">市厅级项目</option>
                <option value="4">企业合作项</option>
                <option value="5">其它类型项目</option>
            </select><br><br>

            <label for="project_allExpense">项目总经费</label>
            <input type="number" id="project_allExpense" name="project_allExpense" required step="any"><br><br>

            <label for="project_beginYear">项目开始年份：</label>
            <input type="number" id="project_beginYear" name="project_beginYear" required><br><br>

            <label for="project_endYear">项目结束年份：</label>
            <input type="number" id="project_endYear" name="project_endYear" required><br><br>

            <label for="project_rank">项目排名：</label>
            <input type="number" id="project_rank" name="project_rank" required><br><br>

            <label for="project_expense">承担经费：</label>
            <input type="number" id="project_expense" name="project_expense" required step="any"><br><br>

        </fieldset>
        
        <input type="submit" value="提交">
    </form>
</div>

{% endblock %}
